<footer class="footer bg-dark text-white py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; @DateTime.Now.Year Engage360. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a class="text-white" href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a class="text-white" href="#">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>