<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Engage 360</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/My-Organization">My Organization</a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="manageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage</a>
                            <ul class="dropdown-menu" aria-labelledby="manageDropdown">
                                <li><a class="dropdown-item" href="/New-Employee">Add New Employee</a></li>
                                <li><a class="dropdown-item" href="/Update-Employee">Update Employee Details</a></li>
                                <li><a class="dropdown-item" href="/Delete-Employee">Remove Employee</a></li>
                                <li><a class="dropdown-item" href="/Modify-Role">Map Employee Role</a></li>
                            </ul>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="/Payroll">Finanace</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" href="/Contact-Us">Contact</a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a id="SignOutButton" class="nav-link" href="/SignOut">Sign Out - @User.Identity.Name</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a id="SignInButton" class="nav-link fw-bold btn-danger">Sign In / Register</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>