<div id="signin-container" class="loginout-box">
    <div class="tab-toggle-container mb-2">
        <div class="tab-toggle">
            <a class="active">Sign in</a>
            <a>Sign up</a>
        </div>
    </div>
    <h5 class="mb-3 text-center">Welcome back</h5>
    <form method="post" id="signin-form">
        @Html.AntiForgeryToken()
        <div class="input-group mb-2">
            <input name="username" type="text" placeholder="Enter your email" required />
        </div>
        <div class="input-group mb-2">
            <input name="password" type="password" placeholder="Enter your password" required />
        </div>
        <div class="d-flex justify-content-between gap-1 mb-2">
            <div class="d-flex gap-1">
                <input type="checkbox" name="rememberMe">
                <label class="loginoutlables m-0 remember-me fs-11px fw-normal">Remember Me</label>
            </div>
            <a onclick="showComingSoonPopup()" class="loginoutlables fs-11px m-0">Forgot Password?</a>
        </div>
        <div class="input-group">
            <button type="submit" class="login-btn">Sign In</button>
        </div>
        <div class="or loginoutlables">OR SIGN IN WITH</div>
    </form>

    @await Html.PartialAsync("_SocialSignInUp")

    <div class="terms loginoutlables">
        Do you have an account? <a href="/SignUp" style="cursor:pointer;">Sign Up</a>
    </div>
</div>
