<!-- Social Login Buttons -->
<div class="d-flex gap-2 justify-content-between">
    <button type="button" onclick="location.href='/GoogleSignInUp'" class="flex-1 social-button"><img src="~/img/G.svg" class="social-icon" alt="Google Logo" /></button>
    <button type="button" onclick="showComingSoonPopup()" class="flex-1 social-button"><img src="~/img/F.svg" class="social-icon" alt="Facebook Logo" /></button>
    <button type="button" onclick="showComingSoonPopup()" class="flex-1 social-button"><img src="~/img/X.svg" class="social-icon" alt="X Logo" /></button>
</div>