<div class="social-media-posts-container">
    <iframe class="social-media-post-card" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FWiproLimited%2Fposts%2Fpfbid02jFh9xFJb6s7ZzBLChmbgvmxhTyoX5ogPf5eru3xYbw8ht6d3JGfX92R3YvZ7huUFl"></iframe>
    <iframe class="social-media-post-card" src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FTataConsultancyServices%2Fvideos%2F398692516645534%2F"></iframe>
    <iframe class="social-media-post-card" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FWiproLimited%2Fposts%2Fpfbid02bPjxBLvczrFHsTUKJoN4j7GoEMbqkwsW3DV9kkGZiafWuQaSWJrF7yJaRWYW36ozl"></iframe>
    <iframe class="social-media-post-card" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FTataMotorsGroup%2Fposts%2Fpfbid037gPPTj7hVySfyuGhCritWoinQvcRArgiuap9Hv8zxZbgxfv7P6QwqmsPLGzuXHpgl"></iframe>
</div>